.dark_button {
  background: linear-gradient(rgba(6, 153, 252, 1) 0%, rgba(1, 57, 155, 1) 100%);
  border-radius: 10px;
  padding: 10px 90px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}
