.modal {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &_substations {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(252, 252, 254, 1) 0%, rgba(239, 242, 249, 1) 100%);
    box-shadow: 4px 4px 16px rgba(64, 76, 138, 0.1);
    border-radius: 7px;
    padding: 25px;
    min-width: 275px;
    .voltage {
      display: flex;
      color: rgb(78, 103, 138);
      font-size: 16px;
      line-height: 20px;
      .checkbox{
        display: flex;
        align-items: center;
        gap: 6px;
        .wrapper{
          width: 18px;
          height: 18px;
          border: 1px solid rgb(78, 103, 138);
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 13px;
          }
        }
      }
      &__title {
        color: rgb(78, 103, 138);
        font-size: 16px;
        line-height: 20px;
        width: 220px;
      }
      &__values {
        display: flex;
        gap: 45px;
      }
      &__item {
        position: relative;
      }
    }
    .cells {
      color: rgb(78, 103, 138);
      font-size: 16px;
      line-height: 20px;
      display: flex;
      &__title {
        width: 220px;
      }
      &__label {
        margin-right: 10px;
      }
      &__value {
        padding: 5px 0;
        background: none;
        border: 1px solid rgb(78, 103, 138);
        width:40px;
        text-align: center;
      }
    }
  }
  &__title {
    color: rgb(99, 169, 208);
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 60px;
    max-width: 170px;
  }
}
